In [ ]:
#Importação das bibliotecas
import pandas as pd
from pandasql import sqldf

#importação do csv
df_casos_covid = pd.read_csv('content/caso_full.csv')

#Selecione todas as cidades presentes na base de dados;
query = '''
SELECT * FROM df_casos_covid
GROUP by city
'''
df_result = sqldf(query)

#Encontre a data mais recente em que cada cidade registrou novos casos confirmados
query1 = '''
SELECT city, MAX(date) as most_recent_date FROM df_casos_covid
GROUP by city
'''
df_most_recent = sqldf(query1)

#Encontre a média de mortalidade por estado
query2 = '''
SELECT state, AVG(last_available_death_rate) as death_rate FROM df_casos_covid
GROUP by state
'''
df_death = sqldf(query2)

#Para cada estado, encontre a cidade com a maior taxa de mortalidade
query3 = '''
SELECT state, city, MAX(last_available_death_rate) as max_death_rate FROM df_casos_covid
GROUP by state
'''
df_death_max = sqldf(query3)

#Obtenha a soma total de novos casos confirmados para cada estado em uma semana epidemiológica específica
query4 = '''
SELECT state, epidemiological_week, SUM(new_confirmed) as new_cases FROM df_casos_covid
GROUP by epidemiological_week
'''
df_sum = sqldf(query4)